@import '../format.css';
.timeline{
    width: 800px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    padding: 40px;
}
.category{
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    margin: 20px;
}
.list{
    margin: 0 0 50px 0;
}
.timeline_item{
    position: relative;
    padding: 0 0 12px;
    list-style: none;
    margin: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 50px;
}
.timeline_item:last-child .timeline_item__tail{
    display: none;
}
.timeline_item__tail{
    position: absolute;
    left: 6px;
    top: 0;
    height: 100%;
    border-left: 2px solid #e9e9e9;
}
.timeline_item__head{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 2px solid #83C3FF;
    background: #83C3FF;
}
.timeline_item__content{
    padding: 0 0 0 28px;
    font-size: 24px;
    position: relative;
    top: -12px;
}
.timeline_item__month{
    position: absolute;
    left: -44px;
    top: 5px;
    width: 40px;
    font-size: 20px;
    color: #000;
    text-align: right;
}
.timeline_item__desc{
    font-size: 15px;
    color: rgba(0,0,0,0.8);
    width: 250px;;
}