html, body{
    margin: 0;
    padding: 0;
}
.timeline{
    width: 400px;
    margin: 0 auto;
}
p{
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    margin-top: .4rem;
    margin-bottom: .28rem;
}
.timeline_item{
    position: relative;
    padding: 0 0 12px;
    list-style: none;
    margin: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.timeline_item:last-child .events__item__tail{
    display: none;
}
.timeline_item__tail{
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    border-left: 2px solid #e9e9e9;
}
.timeline_item__head{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #83C3FF;
    background: #83C3FF;
}
.timeline_item__content{
    padding: 0 0 .4rem .48rem;
    font-size: 24px;
    position: relative;
    top: -3px;
}
.timeline_item__month{
    position: absolute;
    left:-120px;
    top: -10px;
    width: 100px;
    font-size: 20px;
    color: #000;
    text-align: right;
}
.timeline_item__desc{
    font-size: 15px;
    color: rgba(0,0,0,0.8);
    width: 250px;;
}